.continer{
    max-width: 500 !important;
    margin: auto;
    margin: 4%;
    height: 100px;
    font-family: sans-serif;
    letter-spacing: 0.5;

}
img{
    max-width: 100%;
    border-radius: 50%;
}
.mgs-header{
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    border-bottom: none;
    display: inline-block;
    background-color: rgb(240, 40, 194);

}
.mgs-header-img{

    width: 60px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
    align-items: center;
}
.active{
    width: 120px;
    float: left;
    margin-top: 10px;    
}
.active h4{
    font-size: 18px ;
    margin-left: 10px;
    color: #fff;
    margin-top: 20px;

}
.active h6{
    font-size: 10px;
    margin-left:10px ;
    color: #fff;
    line-height: 2px;
}
.hearder-icons{
    width: 120px;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
}
.hearder-icons .fa-solid {
color: #fff;
cursor: pointer;
margin: 10px;
} 
.chat-page{
    padding: 0 0 50px 0;
    

}
.mgs-inbox{
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
    width: 100%;
    margin-top: 7%;
   
   

}
.chats{
    padding: 30px 15px 0 25px;


}
.mgs-page{
    height: 516px;
    overflow-y:auto ;
}
.received-chats-img{
    display: inline-block;
    width: 20px;
     float: left; 
    
    
}
.received-mgs{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;


}
.received-mgs-inbox{
    width: 40%;

}
.received-mgs-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time{
    display: block;
    color: #777;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats{
    overflow: hidden;
    margin: 26px 20px;
}
.outgoing-chat-mgs p{
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px ;
    width: 50%;
    float: right;
}
.outgoing-chat-mgs span{
    display: block;
    color: #777;
    font-size: 12px;
    margin: 8px 0 0;
    float: right;
 
    margin-left: 60%;

}

.outgoing-chats-img{
    float:right;
    width: 46%;
    margin-left: 45%;
}
.outgoing-chats-img{
    display: inline-block;
    width: 20px;
    float: right;
}
.mgs-bottom{
    position: relative;
    height: 100%;
    background-color: rgb(240, 40, 194);
}
.input-group{
    float: right;
    margin-top:13px ;
    margin-left: 20px;
    outline: none !important;
    border-radius: 20px;
    width: 80% !important;
    background-color: #fff;
  
   
}
.form-control{
    border: none !important;
    border-radius: 20px !important;

}
.input-group-text{
    background:rgb(235, 126, 209) !important;
    border: none !important;
    margin-top: 5px;
}
.input-group .fa-solid{
    color:#eee3eb;
    float: right;
}

.bottom-icons{
    float: left;
    margin-top: 20px;
    width: 30% !important;
    margin-left: 22px;
}
.bottom-icons .fa-solid{
    color: #fff;
    padding: 5px;

}
.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
}

